@media screen and (max-width: 425px){
  .firstWord{
    font-size: 64px;
  }
  .secondWord{
    font-size: 24px;
  }
  .buttonBuy{
    flex-direction: column-reverse;
    width: 100%;
    align-items: flex-start;

  }
  .buttonBuy button {
    width: 70%;
    margin-top: 5%;
  }
  .buttonBuy p {
    padding-left: 0;
    font-size: 18px;
  }
  .textInner {
    flex-direction: column;
    align-items: flex-start;
  }
  .textInnerAddInfo{
    width: 100%;
    margin-top: 5%;
    text-align: center;
  }
  .textInnerLastInfo {
    margin-top: 10%;
  }
  .textInnerLastInfo p {
    font-size: 24px;
  }
  .thirdBlock{
    padding-left: 5%;
    height: 135vh;
  }
  .blockWrapper{
    flex-direction: column;
  }
  .programmBlock {
    width: 100%;
  }
  .listBlock{
    width: 90%;
  }
  .fouthBlock h1{
    text-align: center;
  }
  .fifthBlockWrapper {
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
  }
  .fifthBlockWrapperText{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fifthBlockWrapper button {
    width: 100%;
  }
  .sixBlockWrapper{
    padding-left: 2%;
    padding-right: 2%;
    flex-direction: column-reverse;
  }
  .moduleItem{
    width: 145px;
    height: 150px;
  }
  .sixBlock{
    height: 130vh;
  }
  .sevenBlock{
    padding: 0 5%;
    flex-direction: column;
    height: 80vh;
  }
  .sevenBlock form{
    width: 100%;
  }
  .sevenBlock .form{
    flex-direction: column-reverse;
    align-items: center;
  }
  .sevenBlock ul{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5% 5%;
  }
  .sevenBlock h1 {
    font-size: 36px;
    padding-right: 5%;
  }
  .buttonBuyCol{
    width: 90%;
  }
  .buttonBuy{
    margin: 0;
    padding-left: 5%;
  }
  .brickWords{
    margin-left: 5%;
    height: 40%;
  }
  
  .textInnerLastInfo p{
    padding: 0 5%;
  }
  .fouthBlock{
    padding: 0 5%;
  }
  .fifthBlock{
    background-size: cover;
    padding-bottom: 5%;
  }
  .footerInfo{
    width: 100%;
    flex-direction: column;
  }
  .footerInfo p{
    text-align: center;
  }
  .footerInfo ul{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }
  footer{
    height: 200px;
  }
  footer p{
    text-align: center;
  }
  .sevenBlock input {
    border-radius: 0px;
  }
  .faq{
    padding: 0% 5%;
  }
}
@media screen and (max-width: 320px){

  .textInnerMainInfo h1{
    font-size: 24px;
  }
  .textInnerMainInfo li{
    font-size: 16px;
  }
  .textInnerAddInfo p{
    font-size: 16px;
  }
  .textInnerLastInfo p{
    font-size: 16px;
  }
  .programmBlock p {
    font-size: 24px;
  }
  .listBlock p{
    font-size: 16px;
  }
  .Module{
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
  }
  .Module p{
    font-size: 12px !important;
  }
  .Module h1{
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .thirdBlock{
    height: 125vh;
  }
  .fouthBlock h1{
    font-size: 24px;
  }
  .fouthBlock p{
    font-size: 18px;
  }
  .fifthBlockWrapper h1{
    font-size: 18px;
  }
  .fifthBlockWrapper li{
    font-size: 16px;
  }
  .moduleItem{
    margin: 5px;
    width: 130px;
    max-width: 130px;
    height: 130px;
    max-height: 130px;
  }
  .moduleItem h1{
    font-size: 18px;
  }
  .moduleItem p{
    font-size: 14px;
  }
  .sixBlock{
    height: 100vh;
  }
  .sevenBlock h1{
    font-size: 18px;
  }
  .titlesix{
    font-size: 18px;
  }
  .sevenBlock ul{
    padding: 0% 5%;
  }
  .form li{
    font-size: 16px;
  }
}
